.*/
*/input.txt
*.db*
*.temp
*/node_modules/*
*/package*json
*/target/*
*/Cargo.lock
*/__pycache__/*
.python-version
uv.lock
day12/shape_detector.bin
day12/kernel_metadata.json
day12/shape_detector.xml